In [1]:
import pandas as pd

In [2]:
var_list = ['yearmerge',    # 3-year window
            'ffanw',        # net wealth (ffafin + ffanfin - tdebt)
            'tinc',         # total household income, excluding capital gains
            'incws',        # income from wages, salaries and self-employment
            'wgtI95W95',    # survey weight 
            'ffanwgroups',  # wealth groups
            'tincgroups']   # income groups

Rename the variables needed.

In [20]:
var_names_new = 'year', 'n_wealth', 't_income', 'l_income', 'weights', 'nw_groups', 'ti_groups'

In [21]:
df = pd.read_stata('https://github.com/QuantEcon/high_dim_data/blob/main/SCF_plus/SCF_plus.dta?raw=true')

In [22]:
df = df[[*var_list]]
df1=df.astype({'yearmerge': int}).dropna()
df1.columns = var_names_new

In [23]:
df1

,year,n_wealth,t_income,l_income,weights,nw_groups,ti_groups
0,1950,266933.750000,55483.027344,0.000000,0.998732,50-90%,50-90%
1,1950,87434.460938,55483.027344,0.000000,0.998732,50-90%,50-90%
2,1950,795034.937500,55483.027344,0.000000,0.998732,Top 10%,50-90%
3,1950,94531.781250,55483.027344,0.000000,0.998732,50-90%,50-90%
4,1950,166081.031250,55483.027344,0.000000,0.998732,50-90%,50-90%
...,...,...,...,...,...,...,...
511515,2016,105300.000000,103288.914062,103288.914062,6.168690,50-90%,50-90%
511516,2016,104200.000000,103288.914062,103288.914062,6.199682,50-90%,50-90%
511517,2016,88000.000000,103288.914062,103288.914062,6.191450,0-50%,50-90%
511518,2016,100200.000000,103288.914062,103288.914062,6.186734,50-90%,50-90%
511519,2016,89400.000000,103288.914062,103288.914062,6.179298,0-50%,50-90%

In [25]:
df1.to_csv('SCF_plus_mini.csv', index=None)